{% extends '@layouts/base.html.twig' %}
{% block header %}
{% include '@common/user_navbar.html.twig' %}
{% endblock %}
{% block content %}
<div class="container">
	<h1>Login</h1>
	<form action="" method="post">
		<section>
			<div x-id="['input']">
				<label :for="$id('input')">Email: </label>
				<input type="text" name="email" :id="$id('input')" required />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Password: </label>
				<input type="password" name="password" :id="$id('input')" required />
			</div>
		</section>
		<div class="container" style="text-align:center;">
			<input type="submit" value="Login" style="width: fit-content;" />
			<input type="reset" value="Reset" style="width: fit-content;" />
		</div>
</div>
{% endblock %}