{% extends '@layouts/base.html.twig' %}
{% block header %}
{% include '@common/user_navbar.html.twig' %}
{% endblock %}
{% block content %}
<div class="container">
	<h1>Register</h1>
	<form action="/register" method="post">
		<section>
			<div x-id="['input']">
				<label :for="$id('input')">Name : </label>
				<input type="text" name="name" :id="$id('input')" value="{{ complaint.user.name }}" required />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Email: </label>
				<input type="text" name="email" :id="$id('input')" required />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Staff ID : </label>
				<input type="text" name="employeeId" :id="$id('input')" />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Student ID : </label>
				<input type="text" name="studentId" :id="$id('input')" />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Phone Number: </label>
				<input type="text" name="phone" :id="$id('input')" required />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Password: </label>
				<input type="password" name="password" :id="$id('input')" required />
			</div>
			<div x-id="['input']">
				<label :for="$id('input')">Confirm Password: </label>
				<input type="password" name="confirmPassword" :id="$id('input')" required />
			</div>
		</section>
		<div class="container" style="text-align:center;">
			<input type="submit" value="Register" style="width: fit-content;" />
			<input type="reset" value="Reset" style="width: fit-content;" />
		</div>
</div>
{% endblock %}