<div class="container">
    <a href="/" class="primary">Icon place here</a>
    <nav>
        <ul>
            <li><a href="/aduan" class="secondary">Create</a></li>
            <li><a href="/semakan" class="secondary">Review</a></li>
        </ul>
        <ul class="icons">
            <li>
                <a href="/login" class="secondary">
                    <svg style="width: 1.35rem;height:1.35rem">
                        <use xlink:href="assets/images/sprite.svg#icon-login"></use>
                    </svg>
                    Login
                </a>
            </li>
        </ul>
    </nav>
</div>