:root {
  --pico-form-element-spacing-vertical: 0.5rem;

}


table {
  border-spacing: 30px;
}

body>header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 576px) {
  body>header .container nav ul.icons:before {
    display: block;
    height: 1.25rem;
    margin-inline: var(--pico-nav-element-spacing-horizontal);
    border-left: var(--pico-border-width) solid var(--pico-form-element-border-color);
    content: "";
  }
}

body>main>section form.searchbox {
  max-width: 50%;
  float: right;
}

.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex-direction.row-reverse {
  flex-direction: row-reverse
}