{% extends '@layouts/base.html.twig' %}

{% block header %}
{% include '@common/user_navbar.html.twig' %}
{% endblock %}

{% block content %}
<main class="container">
    <h2>Lodge Complaint</h2>
    <hr />
    <section x-data="aduanView">
        <details class="dropdown" x-ref="dropdown">
            <summary x-html="val"></summary>
            <ul>
                <li>
                    <label>
                        <input type="radio" name="isType" value="Student" @click="toggleStudent"
                            hx-get="/complaints/form/ng" hx-target="#target" hx-swap="innerHTML"
                            hx-indicator="#indicator" />Student
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="isType" value="Staff" @click="toggleStaff"
                            hx-get="/complaints/form/ng" hx-target="#target" hx-swap="innerHTML"
                            hx-indicator="#indicator" />Staff
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="isType" value="Guest" @click="student=false, staff=false, 
                                    $refs.dropdown.open=false,
                                    val='Guest',
                                    showForm=true
                                " hx-get="/complaints/form/g" hx-target="#target" hx-swap="innerHTML"
                            hx-indicator="#indicator" />Guest
                    </label>
                </li>
            </ul>
        </details>
        <hr />
        <section x-show="showForm" x-transition id="target"></section>
        <div class="flex center">
            <img id="indicator" class="htmx-indicator" src="assets/svg-loaders/three-dots.svg" />
        </div>
    </section>
</main>
{% endblock %}