{% extends '@layouts/base.html.twig' %}
{% block header %}
{% include '@common/user_navbar.html.twig' %}
{% endblock %}
{% block content %}
<main class="container">
	<h3>Staff E-Complaint System(SECS)</h3>
</main>
{% endblock %}