* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1em;
  color: #222;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.right {
  float: right;
  text-align: right;
}

.flex {
  display: flex;
}

.baseline {
  align-items: center;
}

.flex-axis-center {
  justify-content: center;
}

.baseline {
  align-items: baseline;
}

.header {
  display: flex;
  height: 7rem;
  background-color: #282828;
  justify-content: space-evenly;
  flex-grow: 1;
}

.nav_icon {
  color: honeydew;
  height: 3.25rem;
  width: 2rem;
}

.nav_item {
  display: flex;
  align-items: center;
  margin: 3rem;
}
.nav_item .link {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  margin-left: 0.3rem;
}
.nav_item .last {
  flex-basis: 50rem;
}

.nav_icon {
  fill: honeydew;
  width: 2rem;
}

.title {
  margin: 5rem;
  text-align: center;
}

.h3 {
  margin: 3rem 0 3rem 0;
}

.register-view {
  padding: 2rem;
}

.panel {
  width: fit-content;
  padding: 1rem;
}

.button-remove {
  background-color: #d84a38;
  border: none;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1rem;
  padding: 1rem;
}

.button-update {
  background-color: #0078e7;
  border: none;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1rem;
  padding: 1rem;
}

.button-submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 1rem;
}

.button-reset {
  background-color: #4b8df8;
  border: none;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 1rem;
}

.form label {
  float: right;
}

.input-radio {
  display: flex;
}
.input-radio .item {
  display: flex;
  align-items: baseline;
  margin-right: 2rem;
}
.input-radio .item input {
  margin-right: 0.3rem;
}

.form-control {
  border: 1px solid #aaaaaa;
  width: 100%;
  height: 3.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(#ebeeef 5%, #ffffff 65%);
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.03);
}
.form-control:focus {
  border-color: #4b8df8;
  outline: none;
}
.form-control:disabled {
  background-image: none;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  color: #495057;
}

.textarea {
  height: initial;
  font: 400 13.3333px Arial;
  resize: none;
}

.table {
  border-collapse: collapse;
  border-radius: 5px;
}
.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table th {
  font-size: 1.5rem;
}
.table .option:hover {
  cursor: pointer;
  background-color: #ddd;
}

.jconfirm-box-container {
  margin: auto;
  max-width: 30%;
}

.register-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-view .file {
  margin-bottom: 0;
  align-self: center;
}
.register-view .register-table {
  border-spacing: 0 1rem;
  vertical-align: top;
}
.register-view .registration-form {
  margin: 5rem 0 10rem 0;
}

.review-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-view .review-table {
  border-spacing: 1rem 1rem;
}

.login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-view .login-table {
  border-spacing: 1rem 1rem;
}

.admin-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-view .main {
  width: 90%;
}
.admin-view .admin-table {
  border-spacing: 2rem 1rem;
}
.admin-view .title {
  margin-bottom: initial;
}

.admin-nav {
  justify-content: space-between;
}

.adminSet-view {
  display: flex;
  height: 100%;
}
.adminSet-view .main {
  margin-top: 3rem;
  margin-left: 3rem;
}
.adminSet-view .main .title {
  margin: 0 0 3rem 1rem;
  text-align: left;
}
.adminSet-view .admin-sidenav {
  font-size: 2rem;
  background-color: #f1f1f1;
  /* Change the link color on hover */
}
.adminSet-view .admin-sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.adminSet-view .admin-sidenav li a {
  cursor: pointer;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.adminSet-view .admin-sidenav li a:hover {
  background-color: #04AA6D;
  color: white;
}
.adminSet-view .admin-sidenav .active {
  background-color: #04AA6D;
}
.adminSet-view .admin-sidenav .active a {
  color: white;
}
.adminSet-view fieldset legend {
  font-size: 1.5rem;
}
.adminSet-view .ad-table {
  margin: 1rem;
}
.adminSet-view .ad-table td:nth-child(odd) {
  width: 30%;
}
.adminSet-view .f-table {
  margin: 1rem;
}
.adminSet-view .f-table tr {
  text-align: right;
}
.adminSet-view .f-table .flex {
  margin-top: 1rem;
}

/*# sourceMappingURL=styles.css.map */
