{% extends '@layouts/base.html.twig' %}
{% block header %}
{% include '@common/admin_navbar.html.twig' %}
{% endblock header %}
{% block content %}
<main class="container">
    <details>
        <summary role="button" class="outline secondary">Search Filter</summary>
        <section>
            <label for="date">Generate Date:</label>
            <input type="date" name="date" id="date">
            <label for="name">User ID:</label>
            <input type="text" name="user_id" id="user_id">
            <label for="branch">Branch:</label>
            <select name="branch" id="branch">
                <option value="" disabled selected>Choose Branch</option>
                {% for b in branches %}
                <option value="{{ b.id }}">{{ b.name }}</option>
                {% endfor %}
            </select>
            <label for="status">Status:</label>
            <fieldset class="flex">
                <select name="status" id="status">
                    <option disabled selected>Status</option>
                    {% for c in enum('App\\Enums\\ComplaintStatus').cases %}
                    <option value="{{ c.value }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <button name="submit" style="margin-left: 10px;">Generate</button>
            </fieldset>
        </section>
    </details>
    <hr />
    <section hx-get="/complaints/?table=semakan" hx-trigger="load delay:1s" hx-swap="innerHTML"
        hx-indicator="#indicator">
    </section>
    <div class="flex center">
        <img id="indicator" class="htmx-indicator" src="assets/svg-loaders/three-dots.svg" />
    </div>
</main>
{% endblock content %}