{% extends '@layouts/base.html.twig' %}

{% block header %}
{% include '@common/user_navbar.html.twig' %}
{% endblock %}

{% block content %}
<main class="container">
	<section class="flex" style="flex-direction:row-reverse">
		<form role="search" style="width: fit-content;">
			<input name="search" type="search" placeholder="Search" />
			<input type="submit" value="Search" />
		</form>
	</section>
	<hr />
	<section hx-get="/complaints/?table=semakan" hx-trigger="load delay:1s" hx-swap="innerHTML"
		hx-indicator="#indicator">
	</section>
	<div class="flex center">
		<img id="indicator" class="htmx-indicator" src="assets/svg-loaders/three-dots.svg" />
	</div>
</main>
{% endblock %}