* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: fit-content;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1em;
  color: #222;
}

footer {
  display: block;
  padding: 32px;
  border-top: 1px solid #20202046;
  margin-top: 10rem;
  height: 9rem;
  max-width: 95%;
  margin: 50px auto 0 auto;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.right {
  float: right;
  text-align: right;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-axis-center {
  justify-content: center;
}

.baseline {
  align-items: baseline;
}

.error {
  color: red;
  font-size: 2rem;
}
