<div class="overflow-auto" style="min-height:40vh">
	<table class="striped" style="margin-bottom: 4rem;">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Staff</th>
				<th scope="col">Student</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for u in admins %}
			<tr>
				<td>{{ u.name }}</td>
				<td>{{ u.email }}</td>
				<td>{{ u.employeeId| default('...')}}</td>
				<td>{{ u.studentId| default('...')}}</td>
				<td class="flex center">
					{% include "@common/actionButton.html.twig" with {'controller':'users','method':'user',
					'id': u.id} %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>