<div class="overflow-auto" style="min-height:40vh">
	<table class="striped">
		<thead>
			<tr>
				<th scope="col">Code</th>
				<th scope="col">Name</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for b in branches %}
			<tr>
				<td>{{ b.code }}</td>
				<td>{{ b.name }}</td>
				<td class="flex center">
					{% include "@common/actionButton.html.twig" with {'controller':'branches','method':'branch', 'id':
					b.id}%}
				</td>
			</tr>
			{% endfor %}
			{% if branches is empty %}
			<tr>
				<td colspan="10">
					<center>...</center>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>