<div class="overflow-auto" style="min-height:40vh">
	<table class="striped">
		<thead>
			<tr>
				<th scope="col">Address</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for l in locations %}
			<tr>
				<td>{{ l.address }}</td>
				<td class="flex center">
					{% include "@common/actionButton.html.twig" with {'controller':'locations','method':'location',
					'id': l.id} %}
				</td>
			</tr>
			{% endfor %}
			{% if locations is empty %}
			<tr>
				<td colspan="10">
					<center>...</center>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>