<!doctype html>
<html>
	<head>
		{% block head %}
		<title>SECS</title>
		{% endblock %}
	<script defer src="bundle_7550ec0397b99a0bd362.js"></script></head>
	<body>
		<header>{% block header %}{% endblock header %}</header>
		{% block content %}{% endblock content %}
		<footer>{% block footer %}{% endblock footer %}</footer>
	</body>
</html>
