<!doctype html>
<html>
	<head>
		{% block head %}
		<title>SECS</title>
		{% endblock %}
	<script defer src="bundle_7c6d1a5058b2a47dba5b.js"></script></head>
	<body>
		<header>{% block header %}{% endblock header %}</header>
		{% block content %}{% endblock content %}
		<footer>{% block footer %}{% endblock footer %}</footer>
	</body>
</html>
