<!doctype html>
<html>

<head>{% block head %}<title>SECS</title>{% endblock %}
    <script defer="defer" src="bundle_7cae3fae1cddf1a34d6e.js"></script>
</head>

<body>
    <header>{% block header %}{% endblock header %}</header>{% block content %}{% endblock content %}<footer>{% block
        footer %}{% endblock footer %}</footer>
</body>

</html>